@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Bagel+Fat+One&display=swap');

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

@font-face { 
    font-family: 'Bagel Fat One';
    src: url('/public/BagelFatOne-Regular.ttf');
}

.logo{
  font-family: 'Bagel Fat One';
}

h2 {
  font-size: 2.2em;
  line-height: 1.1;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  /* a:hover {
    color: #747bff;
  } */
  button {
    background-color: #f9f9f9;
  }
}

@media screen and (max-width: 992px) {
  .hamburgher {
    display:none
  }
}

@media screen and (min-width: 992px) {
  .menu{
    display:none
  }
}

.show-sidebar {
  transform: translateX(0%) !important;
  opacity: 1 !important;
  visibility: visible !important;
}

.max{
  max-width: 10rem
}

.hero-img-container {
  background-image: url("src/assets/Home-screen.jpg");
  width: 100%;
  height: 80vh;
  position: relative;
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 96vh;
  width: 100%;
  z-index: 1;
}

.hero-img-container2 {
  background-image: url("src/assets/About-screen.jpg");
  width: 100%;
  height: 80vh;
  position: relative;
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
  min-height: 96vh;
  width: 100%;
  z-index: 1;
}


.hero-overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,.8);
  z-index: 999;
}

.container {
  width: 100%;
  margin: 0 auto;
  padding: 0 1rem;
}

.hero-container {
  height: 100%;
}

.home-hero {
  height: 100%;
  -webkit-align-items: center;
  align-items: center;
}

.home-hero2 {
  height: 100%;
  -webkit-align-items: center;
  align-items: center;
}

.home-hero, .home-hero-text {
  display: -moz-grid;
  display: -ms-grid;
  display: -webkit-grid;
  display: grid;
}

.home-hero-text {
  width: 100%;
  place-items: center;
  text-align: center;
  grid-gap: 2rem;
  gap: 2rem;
  color: #efefef;
  color: var(--text-color);
  font-family: 'Carter One';
}

@media screen and (min-width: 992px){
  .container {
    width: 90%;
}
.home-hero-img {
  grid-column: 8/-1;
}
.home-hero {
  grid-template-columns: repeat(2,1fr);
}
}

@media screen and (max-width: 992px){
  .home-hero-img {
    margin-left: 25%
  }
}


